::-webkit-scrollbar-track {
  background-color: rgb(137, 192, 192);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(58, 88, 88);
  outline: 1px solid rgb(58, 88, 88);
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 4px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.active {
    overflow: hidden;
  }
}

img {
  display: block;
}

header {
  padding: 20px;
  background: rgb(235, 232, 97);

  h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

main {
  padding: 20px 20px 100px 20px;
  min-height: 120vh;
}
form,
.results,
.totals,
.totaled {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 6px 0;
    }
  }
  label {
    display: block;
    margin-bottom: 6px;
  }
  input,
  button {
    width: 100%;
    padding: 12px 10px;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 4px;
  }

  input {
    &:focus,
    &:hover {
      background: rgb(248, 248, 248);
      border-color: rgb(224, 36, 36);
      outline: none;
    }
  }

  button {
    text-transform: uppercase;
    font-weight: 600;
    background: rgb(226, 84, 41);
    border-color: #333;
    border-radius: 4px;
    color: #000;
    transition: all 0.2s;
    //font-size: 18px;

    &:hover {
      background: rgb(180, 68, 34);
      border-color: #000;
      outline: none;
      cursor: pointer;
    }
  }
}

.totaled-list {
  // border-top: 1px solid #333;
  margin-top: 6px;

  > li {
    padding: 0 4px;
    border-bottom: 1px solid rgba(#333, 0.5);
    display: flex;

    &:nth-child(even) {
      background: rgb(245, 245, 245);
    }
  }

  button {
    width: 10%;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;

    &.top {
      font-weight: 600;
      display: none;
    }

    > li {
      flex-basis: 100%;
      font-size: 16px;
      padding: 4px 6px;

      &:last-of-type {
        //text-align: right;
      }

      button {
        padding: 2px 4px;
        border: 0;
        color: #fff;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .totals,
  .results {
    padding: 10px 20px;
    background: rgb(235, 232, 97);

    ul {
      display: flex;

      li {
        width: 33%;
        padding: 0 0 0 10px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        border-left: 1px solid #333;

        &:first-of-type {
          padding-left: 0;
          border: 0;
        }

        input {
          text-align: center;
          padding: 12px 0;
        }
      }
    }
  }

  .results {
    background: rgb(173, 218, 236);

    ul {
      li {
        width: 50%;
      }
    }
  }
}
