::-webkit-scrollbar-track {
  background-color: #89c0c0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: #3a5858;
  outline: 1px solid #3a5858;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 4px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.active {
  overflow: hidden;
}

img {
  display: block;
}

header {
  padding: 20px;
  background: #ebe861;
}
header h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

main {
  padding: 20px 20px 100px 20px;
  min-height: 120vh;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}
.buttons li {
  list-style: none;
  padding-right: 10px;
}
.buttons li:last-of-type {
  padding-right: 0;
}
.buttons button,
.buttons .csv-reader-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5325d3;
  border: 0;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  outline: 0;
}
.buttons button,
.buttons .csv-reader-input label {
  padding: 6px 20px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.buttons button:hover,
.buttons .csv-reader-input label:hover {
  cursor: pointer;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  color: #2f1579;
  border-bottom: 1px solid #5325d3;
}

.csv-reader-input input {
  display: none;
}

form ul,
.results ul,
.totals ul,
.totaled ul,
.lighterpack ul {
  padding: 0;
  margin: 0;
}
form ul li,
.results ul li,
.totals ul li,
.totaled ul li,
.lighterpack ul li {
  list-style: none;
  padding: 6px 0;
}
form label,
.results label,
.totals label,
.totaled label,
.lighterpack label {
  display: block;
  margin-bottom: 6px;
}
form input,
form button,
.results input,
.results button,
.totals input,
.totals button,
.totaled input,
.totaled button,
.lighterpack input,
.lighterpack button {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #929292;
  border-radius: 4px;
}
form input:focus, form input:hover,
.results input:focus,
.results input:hover,
.totals input:focus,
.totals input:hover,
.totaled input:focus,
.totaled input:hover,
.lighterpack input:focus,
.lighterpack input:hover {
  background: #f8f8f8;
  border-color: #e02424;
  outline: none;
}
form button,
form input[type=submit],
.results button,
.results input[type=submit],
.totals button,
.totals input[type=submit],
.totaled button,
.totaled input[type=submit],
.lighterpack button,
.lighterpack input[type=submit] {
  text-transform: uppercase;
  font-weight: 600;
  background: #e25429;
  border-color: #333;
  border-radius: 4px;
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
form button.add,
form input[type=submit].add,
.results button.add,
.results input[type=submit].add,
.totals button.add,
.totals input[type=submit].add,
.totaled button.add,
.totaled input[type=submit].add,
.lighterpack button.add,
.lighterpack input[type=submit].add {
  background: #5e8cee;
}
form button.square,
form input[type=submit].square,
.results button.square,
.results input[type=submit].square,
.totals button.square,
.totals input[type=submit].square,
.totaled button.square,
.totaled input[type=submit].square,
.lighterpack button.square,
.lighterpack input[type=submit].square {
  padding: 0;
  color: #fff;
  width: 30px;
  height: 30px;
}
form button:hover,
form input[type=submit]:hover,
.results button:hover,
.results input[type=submit]:hover,
.totals button:hover,
.totals input[type=submit]:hover,
.totaled button:hover,
.totaled input[type=submit]:hover,
.lighterpack button:hover,
.lighterpack input[type=submit]:hover {
  background: #b44422;
  border-color: #000;
  outline: none;
  cursor: pointer;
}

.totaled-list {
  margin-top: 6px;
}
.totaled-list > li {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 0 4px;
}
.totaled-list > li:nth-child(even) {
  background: whitesmoke;
}
.totaled-list .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.totaled-list .row > li {
  font-size: 16px;
  padding: 4px 6px;
}
.totaled-list .row > li button {
  padding: 2px 4px;
  border: 0;
  color: #fff;
  opacity: 0.5;
}
.totaled-list .row > li button:hover {
  opacity: 1;
}
.totaled-list .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.totaled-list .columns > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.totals,
.results {
  padding: 10px 20px;
  background: #ebe861;
}
.totals ul,
.results ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.totals ul li,
.results ul li {
  width: 33%;
  padding: 0 0 0 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-left: 1px solid #333;
}
.totals ul li:first-of-type,
.results ul li:first-of-type {
  padding-left: 0;
  border: 0;
}
.totals ul li input,
.results ul li input {
  text-align: center;
  padding: 12px 0;
}

.results {
  background: #addaec;
  text-align: center;
}
.results strong {
  text-transform: uppercase;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
}
.results ul li {
  width: 100%;
}